{%extends "mis_notas/base.html" %}
{%block content%}
<h1 class='text-center'>¡Bienvenido a Mis Notas!</h1>
<p>Tu compañero ideal para organizar y gestionar tus notas de manera eficiente.
En Mis Notas, te ofrecemos una plataforma intuitiva y fácil de usar para capturar y seguir tus ideas, tareas y proyectos. Ya sea que estés en la escuela, la universidad, o simplemente necesites un lugar para almacenar tus pensamientos y tareas diarias, estamos aquí para ayudarte a mantener todo en orden.
<br>
¿Qué puedes hacer aquí?
<br>
<ul>
    <li>Agregar nuevas notas: Guarda tus ideas y recordatorios de manera rápida y sencilla.</li>
    <li>Organizar tus notas: Categoriza y etiqueta tus notas para encontrarlas fácilmente.</li>
    <li>Buscar y filtrar: Encuentra lo que necesitas con nuestra potente función de búsqueda.</li>
    <li>Acceso desde cualquier lugar: Sincroniza tus notas y accede a ellas desde cualquier dispositivo.</li>
</ul>
Comienza a explorar y aprovecha todas las herramientas que Mis Notas tiene para ofrecerte. ¡Tu productividad y organización nunca habían sido tan fáciles!

¡Estamos felices de tenerte con nosotros!</p>
{%endblock%}